:root {
  /*Fonts*/
  --main-font-family: "Roboto", sans-serif;

  /*Colors*/
  --main-dark-color: #000;
  --main-light-color: #fff;
  --current-color: #2196f3;
  --main-color: #757575;
  --secondary-color: #212121;
  --background-dark-color: #2f303a;
  --background-light-color: #e5e5e5;
  --backgronud-button-color: #f5f4fa;
}

body {
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--main-color);
  background-color: var(--main-light-color);
}

/* h1, h2, h3, h4,h5, h6 {
  margin: 0;
} */
/* a  {
  text-align: center;
} */
.container {
  width: 1200px;
  /* max-width: 1200px; */
  /* width: 100%; */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
 /* background-color: tomato;*/
}
.container-heder {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav-link {
  margin-right: 50px;
  text-decoration: none;
  font-size: 14;
  font-weight: 500;
  line-height: 1.14;
  color: var(--secondary-color);
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.active {
  color: var(--current-color);
}
.contact-nav-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--main-color);
}

.contact-nav-link:hover,
.contact-nav-link:focus {
  color: #2196f3;
}

.contact-footer-link {
  text-decoration: none;
  font-size: 14;
  font-weight: 500;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.contact-footer-link:hover,
.contact-footer-link:focus {
  color: #2196f3;
}



.site-nav {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
}
.contact-nav {
  display: flex;
  flex-direction: row;
}

.main-logo {
  /* display: inline-block; */
  text-decoration: none;
  color: var(--main-dark-color);
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-align: center;
  padding: 0;
  margin-right: 93px;

  
}
.contact-nav-link {
  margin-left: 50px;
}

.footer-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-light-color);
}

/* span {
  color: var(--current-color);
} */
.logo-color{
  color: var(--current-color);
  text-align: center;
  padding: 0;

}

.list-whot-can {
  display: flex;
  flex-direction: row;
  /* margin-top: 94px; */
  /* margin-bottom: 94px; */
}
.port-work {
  width: 370px;
  height: 404px;
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  /* border: 1px, #eeeeee; */
  background: #FFFFFF;
  border: 1px solid rgba(238, 238, 238, 1);
}

.port-work:nth-child(3n){
margin-right: 0;
}

.port-work:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.hero-button {
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  padding: 10px 32px;
  
  color: var(--backgronud-button-color);
  background-color: var(--current-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--main-dark-color);
  /* background-color: var(--backgronud-button-color); */
  background-color: #188CE8;
}
.button {
  min-width: 73px;
  min-height: 38px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  background-color: var(--backgronud-button-color);
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
}

.button:hover,
.button:focus {
  color: var(--main-light-color);
  background-color: var(--current-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-header {
  margin: 0;
  list-style: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
}

.list {
  margin: 0;
  list-style: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0;
}

.list-description {
  margin-bottom: 94px;
  list-style: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0;
}

.list-workcom {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  list-style: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0;
}

.list-work {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;


  background-color: var(--main-light-color);
  list-style: none;
}

.gps-footer-link {
  color: var(--main-light-color);
  text-decoration: none;
}

.gps-footer-link:hover,
.gps-footer-link:focus {
  color: var(--current-color);
}

.text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-color);
}

.text-transform {
  text-transform: uppercase;}


.title-workcom {
  margin-top: 0px;
  margin-bottom: 50px;
  /* padding-top: 94px; */
  /* margin-left: auto;
  margin-right: auto; */
  /* padding-bottom: 50px; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--secondary-color);
  text-align: center;
}

.hero {
  /* width: 696px;  */
  margin-top: 94px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;  
  background-color: var(--background-dark-color);
  color: var(--main-light-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;

}

.section-heder {
  border-bottom: 1px solid #ececec;
  /* border-style:inset;
  border: 10px #000000; */
}

.section-description {
  background-color: var(--background-light-color);
}

/* .section-description > h2 {
  text-align: center;
} */

/*.nav {
}

.contact-nav-link {
}
*/
.section-filter {
  background-color: var(--background-light-color);

}

.list-buttons {
  padding-bottom: 50px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--main-light-color);
}


.section-work {
  background-color: var(--main-light-color);
}

.section-command {
  background-color: var(--backgronud-button-color);
  text-align: center;
}

.section-footer {
  /*width: 100%;*/
  display: flex;
  background-color: var(--background-dark-color);
  height: 252px;
  align-items: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color);
}

.prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.port-title {
  margin: 0;
  padding: 20px 24px 4px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-color);
}

.port-name {
  margin: 0;
  padding: 4px 24px 20px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-color);
}

.contact {
  text-decoration: none;
  font-style: normal;
  
}

.workcom {
  /* margin-bottom: 94px; */
  width: 270px;
  height: 368px;
  background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
